<footer class="footer bg-dark py-3 mt-auto">
    <div class="container  text-center">
        <span class="text-white-50">&#169; YelpCamp 2022, All rights reserved. <br> Made with &hearts; by
            <a class="text-white-50 text-decoration-none" href="https://www.linkedin.com/in/SagarNagapnor/">SagarDNG</a>
        </span>
    </div>
</footer>